:root {
  --dark-color: #2e2e2e;
  --light-color: #fff7ed;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: auto;
  padding-block: 20px;
}
.container.light {
  background-color: #9bd4e4;
  color: black;
}
.container.dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.weather--degree {
  text-transform: uppercase;
}

/* Navbar */
nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.nav--icon {
  background-color: rgba(155, 212, 228, 0.357);
  border-radius: 5px;
  padding: 5px;
}

.weather--settings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather--degree-select {
  display: flex;
  justify-content: center;
}

.weather--degree-select button {
  padding-block: 5px;
  width: 60px;
  font-size: 16px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.13);
  border-radius: 6px;
}
.dark .weather--degree-select button {
  color: var(--light-color);
}
.light .weather--degree-select button {
  color: var(--dark-color);
}

/* Toggle Dark Mode Button */

.button--group {
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.button--group > svg {
  font-size: 20px;
}

.sun--icon {
  color: yellow;
}
.moon--icon {
  color: white;
}
.dark .sun--icon,
.light .moon--icon {
  opacity: 50%;
}

.toggle--darkMode {
  width: 40px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.37);
}
.dark .toggle--darkMode {
  justify-content: flex-end;
}
.light .toggle--darkMode {
  justify-content: flex-start;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--light-color);
}

/* Toggle Dark Mode Button */

/* Navbar */

/* Main */
.hero--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

main .weather--main-header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

main .weather--temperature {
  margin-bottom: 0;
}

main .weather--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

main .weather--description {
  font-size: 18px;
  text-transform: capitalize;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
  width: max-content;
}

main .weather--icon {
  width: 80px;
}

main .lastUpdate {
  margin: 0;
}
/* Main */

/* Weather--forecast */

.weather--forecast {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 80%;
}

.weather--forecast-card {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 250px;
  height: 250px;
  flex-grow: 1;
  font-weight: bold;
  position: relative;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.weather--forecast-day {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.weather--forecast-temperature {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.maxTemp,
.minTemp {
  font-size: 30px;
  width: 80px;
}

.weather--forecast-details {
  position: relative;
}

.weather--forecast-icon {
  width: 70px;
}

.weather--forecast-description {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  text-transform: capitalize;
  width: 100%;
}

/* Weather--forecast */
/* Loading */
.loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.loading h6 {
  text-transform: capitalize;
  font-size: large;
}

.loading span {
  opacity: 0;
  animation-name: loadingDots;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.loading span:nth-child(1) {
  animation-delay: 130ms;
}
.loading span:nth-child(2) {
  animation-delay: 240ms;
}
.loading span:nth-child(3) {
  animation-delay: 390ms;
}

@keyframes loadingDots {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Loading */