:root {
  --dark-color: #2e2e2e;
  --light-color: #fff7ed;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 20px;
}
.container.light {
  background-color: #9bd4e4;
  color: black;
}
.container.dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.weather--degree {
  text-transform: uppercase;
}

/* Navbar */
nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* Toggle Dark Mode Button */

.button--group {
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.button--group > svg {
  font-size: 20px;
}

.sun--icon {
  color: yellow;
}
.moon--icon {
  color: white;
}
.dark .sun--icon,
.light .moon--icon {
  opacity: 50%;
}

.toggle--darkMode {
  width: 40px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.37);
}
.dark .toggle--darkMode {
  justify-content: flex-end;
}
.light .toggle--darkMode {
  justify-content: flex-start;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--light-color);
}

/* Toggle Dark Mode Button */

/* Navbar */

/* Main */
main .weather--degree-select {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 1px;
}

main .weather--degree-select button {
  padding-block: 5px;
  width: 60px;
  font-size: 16px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.13);
  border-radius: 6px;
}
.dark main .weather--degree-select button {
  color: var(--light-color);
}
.light main .weather--degree-select button {
  color: var(--dark-color);
}

main .weather--temperature {
  margin-bottom: 0;
}

main .weather--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

main .weather--description {
  font-size: 18px;
  text-transform: capitalize;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
  width: 250px;
}

main .weather--icon {
  width: 80px;
}

main .lastUpdate {
  margin: 0;
}
/* Main */

/* Weather--forecast */

.weather--forecast {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 80%;
}

.weather--forecast-card {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 250px;
  height: 250px;
  flex-grow: 1;
  font-weight: bold;
  position: relative;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.weather--forecast-day {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.weather--forecast-temperature {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.maxTemp,
.minTemp {
  font-size: 30px;
  width: 80px;
}

.weather--forecast-details {
  position: relative;
}

.weather--forecast-icon {
  width: 70px;
}

.weather--forecast-description {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  text-transform: capitalize;
  width: 100%;
}

/* Weather--forecast */
